@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&family=Orbitron&display=swap');

@mixin h1-font {
    font-family: 'Orbitron', sans-serif;
}

@mixin h2-font {
    font-family: 'Jura', sans-serif;
}

@mixin p-font {
    font-family: Arial, Helvetica, sans-serif;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


body {
    background-image: url('https://images.unsplash.com/photo-1559657693-e816ff3bd9af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80');
    background-color: black;
    background-repeat: no-repeat;
    background-size: auto;
    margin: 0;
    padding: 0;
    @include flex-column;
    
    main {
        @include flex-column;
        text-align: center;
        margin: 1%;

        .fade-effect1{
            display:block;
            border:none;
            color:black;
            height:1px;
            background:white;
            background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#fff), to(#000));
        }

        form {
            @include flex-column;
            align-items: center;
            width: 100%;
            select {
                width: 80%;
                margin: 2%;
            }

            .btn {
                margin: 1 2rem;
            }
        }

        .characterContainer {
            display: flex;
            flex-direction: column;
            align-items: center;

            .displayDiv {
                width: 80%;
                height: 20rem;    
                border: solid 1px white;
                border-radius: 15px;
                margin: 1rem;
                padding-left: 1rem;
                backdrop-filter: blur(8px);
                backdrop-filter: brightness(40%);
            
                img {
                    width: 50%;
                    height: auto;
                    object-fit: contain;
                    border: solid 1px white;
                   
                }
            }
        }

        .infoDiv {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            text-align: left;
            font-size: large;
        }
    }
}

h1, h2, h3, p, li {
    color: white
}

h1 {
    @include h1-font;
}

h2, h3 {
    @include h2-font;
}

p, li {
    @include p-font;
}

ul {
    list-style-type: none;
}

.hidden {
    display: none;
}


.btn {
    padding: 8px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(243, 171, 77);
    box-shadow: 0 2px 4px 0 rgba(252, 251, 251, 0.5);
    font-size: large;
    font-weight: 800;
    color: black;
    transition-duration: 0.4s;
    @include h2-font;
}

.btn:hover {
    background-color:rgb(219, 84, 31);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


//För skärmar i tablet-format och uppåt
@media only screen and (min-width: 768px) {

    body {
        main {
            @include flex-column;
            align-items: center;
            form {
                @include flex-row;
                align-items: center;
                width: 50%;

                .btn {
                    width: 10rem;
                }
            }

            .characterContainer{
                @include flex-row;
               
                width: 60%;
            }
        } 
    }
    
}
